
* {
  box-sizing: border-box;
}
*:before,
*:after {
    box-sizing: border-box;
    transition: 0.5s ease-in-out;
}

@media (min-width: 600px) {
    .wrap {
        width: 50%;
        float: left;
    }
}

@font-face {
    font-family: Cyber;
    src: "/assets/Blender-Pro-Bold.otf";
    font-display: swap;
}

body {
  font-size: 18px;
  line-height: 1.0;
  min-height: var(--viewport-height);
  max-width: fit-content;
  background-image: linear-gradient(to top, rgba(24, 13, 105, 0.471), rgba(24, 13, 105, 0.471));
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  /* min-height: 100vh;*/ 
  font-family: 'Cyber', sans-serif;
}

html, div, span, iframe, h1, h2, h3, h4, h5, p, i, a, input{
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 100%;
    font-family: 'Nova Square', sans-serif;
    vertical-align: baseline;
}

.text {
  color: white;
  margin-top: 20px;
  position: relative;
  background-color: #0000;
  color: black;
  text-align: center;
  box-sizing: 45px;
  font-size: 40px;
  height: 60px;
}

.Table {
    display: flex;
    margin: 10%;
}

.Input {
    margin-left: 10%;
}

.Bet {
    margin-top: 20%;
}